#form {
  #main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;

    #url-div {
      margin: 10px;
    }

    #buttons {
      padding: 5px;
      button {
        padding: 5px;
        margin: 2px;
        cursor: pointer;
      }
    }
    #textarea {
      display: block;
      textarea {
        display: block;
      }
    }
  }
}

.aqua {
  background-color: rgb(28, 119, 119);
}
